 
body {
    background-image:url("https://images.pexels.com/photos/3568792/pexels-photo-3568792.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") ;
    color: silver;
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #202020;
  }
  
  .bg-steel {
    background-color:black;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #d2d6d8;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #cecdcd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #646262;
  }
  
  a.article-title:hover {
    color: #5ca8eb;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #beb9b9
  }
  
  .article-metadata a:hover {
    color: rgb(43, 41, 41);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .owino{
    background-image: url("https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    height: 50vh;
    
  }
  .ben{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

  }
  .ben h1{
    color: white;
    
  }

  blockquote{
    border-left:none
  }
  .quote-badge{
    background-color: rgba(0, 0, 0, 0.2);
  }
  .quote-box{
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color:black;
    margin-top: 25px;
    color:white;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
  }
  .quotation-mark{
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
  }
  .quote-text{
    font-size: 19px;
    margin-top: -65px;
  }